.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.header-first, .footer{
  background-color: #252B42;
}
.free{
  background:  #E74040 !important;
}
.ret{
  border-radius: 50% !important;
}

@media only screen and (max-width: 393px){
  .inputfin{
width: 300px !important;
  }
}

.inputfin{
  
  width: 50%;
  min-width: 300px;
  display: flex;
  flex-wrap: wrap !important;
  gap: 1rem;
  }

